*{
    /* best practices */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.main{
    height: 100vh;
    width: 100 vw;
    overflow-x: none;
}
.nav-container{
    width: 100vw;
    background-color: rgb(58, 33, 88);
    min-height: 90px;
    color: white;
    
}
#navList{
    list-style: none;
    /* font-size: 2rem; */
}
#navList li a{
    text-decoration: none;
    color: white;
}
