* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  padding: 40px;
}
.menu-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.menu {
  border: 1px solid #aaa;
  padding: 20px;
  width: 220px;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
}

.menu-title {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  border: 2px double #fff;
  padding: 8px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
}

.desc {
  font-size: 0.8rem;
  color: #ccc;
  margin-bottom: 5px;
}

.menu img {
  display: block;
  margin: 20px auto 0;
  width: 100px;
  border-radius: 6px;
}