*{
    /* best practices */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    background-color: rgb(241, 219, 219);
}
h2{
    text-align: center;
    padding: 15px;
}



.nav-prc-1{
    width: 100vw;
    background-color: rgb(58, 33, 88);
    min-height: 90px;
    color: white;
}
#navList1{
    list-style: none;    
    overflow: hidden;
}
#navList1 li{
    float: right;
    
}
#navList1 li a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
}
.nav-prc-2{
    width: 100vw;
    background-color: rgb(103, 147, 194);
    min-height: 90px;
    color: white;
    display: flex;
}