/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
} */
.container{
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
}
.img-cont{
    width: max-content;
}
#search-bar{
    width: 50%;
    padding: 15px;
    border: 1px solid rgb(205, 203, 203);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
}
.buttons-grp button{
    border-radius: 15px;
    width: 150px;
    padding: 0.8rem;
    border: 1px solid rgb(205, 203, 203);
    background-color: rgb(240, 240, 240);
}