* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
.timer-section{
    width: 100%;
    padding: 15px;
    background-color: rgba(31, 46, 160);
    color: white;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    
}
.timer-title{
    font-size: 1rem;
}
.timer-count{
    font-size: 4rem;
}
#timer-total{
    font-size: 0.5rem;
}
.timer-list{
    width: 100%;
    padding: 15px;
    background-color: rgba(14, 19, 60);
    color: white;

    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}
.interval-name{
    width: 70%;
}
.interval-name input{
    width: 100%;
}
.interval-timer{
    width: 30%;
}
.time-add-minus, .interval-name input{
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
}