* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
.timer-section{
    width: 100%;
    padding: 15px;
    background-color: rgba(31, 46, 160);
    color: white;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    
}
.timer-title{
    font-size: 1rem;
}
.timer-count{
    font-size: 4rem;
}
#timer-total{
    font-size: 0.5rem;
}