@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

/* HEADER SECTION STYLING */
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 0.625rem;
    text-decoration: none;
}
.logo-icon{
    height: 2.875rem;
    width: 1.938rem;
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap: 2rem;
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.5s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.contact-button:hover{
    opacity: 0.7;
    background-color: #5254f5;
}
.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1re,;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 1.5rem;
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}
@media screen  and (min-width: 768px){
    .nav{
        display: flex;
    }
    .contact-button{
        display: block;
    }
}
@media screen and (max-width:768px){
    .menu-button{
        display: block;
    }
}

/* HERO SECTION STYLING */
/* 
<div class="hero-content">
    <section class="hero-section">
        <div class="left-content">
            <p class="left-label"></p>
            <h1 class="left-title"></h1>
            <p class="left-description"></p>
            <div class="left-buttons">
                <a href="#start" class="start-button">Start Now</a>
                <a href="#tour" class="tour-button">Take Tour</a>
            </div>
        </div>
        <div class="right-content">
            <div class="image-container">
                <img class="hero-image"/>
            </div>
        </div>
    </section>
</div>
*/

.hero-section{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.left-content{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}