*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
}
/* <!-- NAVIGATION CONTENT --> */
nav{
    width: 100%;
    overflow: none;
}
.navContainer{
    width: 100vw;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style-type: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navLogo{
    font-size: 2rem;
    color: white;
}
#navItems{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
}