 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

/* == HEADER STYLING == */
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}
.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap: 1.5rem;
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.5s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.contact-button:hover{
    background-color: #5254f5;
}
.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 1.5rem;
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}
@media screen  and (min-width: 768px){
    .nav{
        display: flex;
    }
    .contact-button{
        display: block;
    }
}
@media screen and (max-width:768px){
    .menu-button{
        display: block;
    }
}

/* == HERO SECTION == */
.main-section{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-title{
    font-size: 2.3rem;
    padding: 1rem;
    color: var(--text-color);
}
.section-description{
    font-size: 1.12rem;
    color: var(--gray);
}
.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}
.tour-button, .start-button{
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    color: white;
}
.tour-button{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: #5254f5;
}
.tour-button:hover{
    background-color: var(--gray);
}
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}
.section-image{
    height: 100%;
    width: 100%;
}

@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen  and (min-width: 768px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
        font-size: 3.5rem;
    }
    .section-label{
        font-size: 1rem;
    }
    .section-description{
        font-size: 1rem;
        color: var(--gray);
        width: 78%;
        text-align: justify;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .image-container{
        height: 67vh;
    }
}