@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #f2f2ff;
}

/* HEADER SECTION STYLING */
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 0.625rem;
}
.logo-icon{
    height: 2.875rem;
    filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(6406%) hue-rotate(274deg) brightness(75%) contrast(120%);
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    gap: 25px;
}
.nav-link{
    font-size: 1.1rem;
    color: rgb(69, 69, 69);
    opacity: 1;
    transition: 0.3s;
    font-weight: 650;
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.5s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    opacity: 1;
    transition: 0.3s;
}
.contact-button:hover, .nav-link:hover{
    opacity: 0.7;
}

/* HERO SECTION STYLING */
.hero-section{
    width: 85vw;
    height: 64vh;
    padding-top: 50px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    left: -150px;
    transition: 2s;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
.hero-section:active {
    left:0;
}
@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.left-side{
    width: 45%;
    display: grid;
    grid-template-rows: repeat(4, 0.5fr);
    /* gap: 50px; */
}
.left-side p, .left-side-anchor{
    color: #363636;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 1.1rem;
}
.left-side h1{
    font-size: 3.4rem;
    color: #363636;
}
.left-side .sub-text{
    color: #5c00b7;
    font-size: 1.3rem;
    font-weight: 700;
}
.left-side-anchor{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 0.3fr);
}
.left-side-anchor a{
    border: none;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: 0.3s;
}
.left-side-anchor a:nth-child(1){
    background-color: #5c00b7;
}
.left-side-anchor a:nth-child(2){
    background-color: #8a7d97;
}
.left-side-anchor a:hover{
    opacity: 0.7;
}
.right-side{
    width: 55%;
    grid-area: right-side;
}
.right-side img{
    border-radius: 15px;
    height: 500px;
    width: 500px;
}