*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 74vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}
.header_container{
    margin-bottom: 2.8rem;
}
.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;

}
.header_desc{
    max-width: 568px;
    text-align: center;
    color: rgb(167, 167, 167);
    margin: 0 auto;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}
.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 10px;
    overflow: hidden;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(35, 28, 28);
}
.card_title_anchor:hover .card_title{
    color: rgb(51, 51, 159);
}
.card_desc{
    color: grey;
    font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1.5rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.author_avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(176, 138, 138);
    border-radius: 50%;
    background-color: rgb(207,201,201);
}
.author_info_container{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
}
.author_name{
    color:rgb(38, 38, 149);
}
.author_date{
    color:rgb(136, 126, 126);
}
/* .author_info_container span:nth-child(1){
    color:blueviolet;
} */
.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: grey;
}