*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 251, 246);
    display: grid;
}
header{
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: burlywood;
    line-height: 1.8rem;
}
.container{
    height: 100%;
    width: 90vw;
    padding: 20px;
    margin: 10px auto;
    background-color: rgb(250, 166, 63);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    display: grid;
    gap: 10px;
    justify-items: center;
}
.cards-container{
    border: 1px solid black;
    padding: 20px;
    margin: 10px auto;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.card-box{
    display: grid;
    border: 1px solid black;
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(2, 1fr);
}