*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #ebeafc;
}
.header{
    width: 100vw;
    padding: 1.5rem;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: grid;
    gap: 35px;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr); */
}
.title{
    display: flex;
    align-items: center;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.nav-list li a{
    text-decoration: none;
    color: grey;
    font-weight: 550;
}
.contact-us{
    background-color: #26205b;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.contact-us:hover{
    background-color: #474184;
}
.button:active{
    background-color: #474184;
    transform: translateY(4px);
}