*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    min-height: 100%;
    width: 100%;
    background-color: rgb(59,57,57);
    display: grid;
    padding: 2rem;
    /* row-gap: 0.5rem;
    column-gap: 0.5rem; */
    gap: 1rem;
    /* repeat(3, 1fr) = 1fr 1fr 1fr */
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
}
.item{
    border: 1px solid black;
    background-color: rgb(214, 129, 24);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .container{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header, .footer{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .sidebar{
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .content1{
        grid-column-start: 2;
        grid-column-end: 4;
    }
}