@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

/* :root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
} */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #ebeafc;
}

/* HEADER SECTION STYLING */
.header-content{
    width: 100vw;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header-content a{
    text-decoration: none;
}
.logo{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    align-items: center;
}
.logo-icon{
    height: 50px;
    filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(6406%) hue-rotate(274deg) brightness(75%) contrast(120%);
}
.logo-text{
    font-size: 2rem;
    font-weight: 800;
    color: #5c00b7;
}
.nav{
    list-style-type: none;
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 3fr); */
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: rgb(69, 69, 69);
    opacity: 1;
    transition: 0.3s;
    font-weight: 650;
}
.contact-button{
    background-color: #5c00b7;
    border-radius: 10px;
    padding: 9px 25px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: 0.3s;
}
.contact-button:hover, .nav-link:hover{
    opacity: 0.7;
}