*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
header{
    padding: 30px;
    width: 100%;
    background-color: #093444;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-align: center;
    color: white;
}
header ul{
    padding-top: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
main{
    padding: 30px;
    background-color: #dadcdd;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5f5e5e;
}
.container p{
    padding: 20px;
    color: white;
}

/* ============================ GENERAL STYLING ============================ */
.container1, .container2, .container3, .container4{
    height: 300px;
    width: 100%;
    padding: 20px;
    display: grid;
    gap: 10px;
    justify-items: stretch;
}
.item{
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============================ CONTAINER 1 == individual styling ============================ */
.container1{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
#item-c1-2-1{
    grid-column-start: span 2;
}
#item-c1-2-2{
    grid-row-start: span 2;
}
#item-c1-3-1{
    grid-column-start: span 3;
}
#item-c1-3-3{
    grid-column-start: span 2;
}
#item-c1-3-4{
    grid-column-start: span 3;
}

/* ============================ CONTAINER 2 == individual styling ============================ */
/* .container2{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}
#item-c2-1-1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#item-c2-1-2{
    grid-column-start: 3;
    grid-column-end: 6;
}
#item-c2-1-4{
    grid-column-start: 2;
    grid-column-end: 6;
}
#item-c2-1-5{
    grid-column-start: span 5;
} */

.container2{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
}
#item-c2-1-1{
    grid-column: span 2;
}
#item-c2-1-2{
    grid-column: span 2;
}
/* #item-c2-1-3{
    grid-column: span 1;
} */
#item-c2-1-4{
    grid-column: span 3;
}
#item-c2-1-5{
    grid-column: 1/ -1;
}

/* ============================ CONTAINER 3 == individual styling ============================ */
.container3{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* ============================ CONTAINER 4 == individual styling ============================ */
.container4{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}